{% if object.position < admin.last_position %}
    <a class="movedown_link" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="Move down"><i class="icon-arrow-down"></i></a>
{% endif %}

{% if object.position > 0 %}
    <a class="moveup_link" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="Move up"><i class="icon-arrow-up"></i></a>
{% endif %}