{{ form_start(form) }}

{% if isDialog %}
    <div class="success-message" style="display:none;">{{ 'form.question.success'|trans }}</div>
    <div class="error-message" style="display:none;">{{ 'form.question.error'|trans }}</div>
{% else %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="success-message">{{ flashMessage }}</div>
    {% endfor %}

    {% if form.vars.valid == false %}
        <div class="error-message">{{ 'form.question.error'|trans }}</div>
    {% endif %}
{% endif %}

<div class="heading add-bottom">{{ 'form.question.title'|trans }}</div>

<div class="row remove-bottom">
    <div class="five columns alpha">
        {{ form_label(form.fullName) }}
        {{ form_widget(form.fullName, { 'attr' : { 'class' : form.fullName.vars.errors|length ? 'error' : '' } }) }}
    </div>

    <div class="five columns">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr' : { 'class' : form.email.vars.errors|length ? 'error' : '' } }) }}
    </div>
</div>

<div class="row remove-bottom">
    <div class="ten columns alpha">
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject, { 'attr' : { 'class' : form.subject.vars.errors|length ? 'error' : '' } }) }}
    </div>
</div>

<div class="row remove-bottom">
    <div class="ten columns alpha">
        {{ form_label(form.question) }}
        {{ form_widget(form.question, { 'attr' : { 'class' : form.question.vars.errors|length ? 'error' : '' } }) }}
    </div>
</div>

<div class="three columns alpha">
    {{ form_widget(form.captcha, { 'attr' : { 'style' : 'width:50px; margin-bottom:5px;', 'class' : form.captcha.vars.errors|length ? 'error' : '' } }) }}

    <div class="add-bottom">
        <a href="#" class="smaller refresh_button">{{ 'form.question.captcha.refresh'|trans }}</a>
    </div>
</div>

{% if isDialog %}
<div class="five columns">
    {{ form_widget(form.send, {'attr' : {'class' : 'button button-orange-special'}}) }}
</div>
{% else %}
<div class="seven columns">
    {{ form_widget(form.send, {'attr' : {'class' : 'button button-orange-special'}}) }}
</div>
{% endif %}

{{ form_end(form) }}

{{ form_javascript(form) }}
{{ form_stylesheet(form) }}