<div class="bottom wrapper">
    <div class="container">
        <div class="two-thirds column">
            {{ knp_menu_render('InterraoPageBundle:Builder:footerMenu') }}
        </div>

        <div class="one-third column">
            <form method="get" action="http://www.google.com/search" target="_blank" class="site-search">
                <input type="text" name="q" class="keyword" placeholder="{{ 'footer.search'|trans }}" />
                <input type="hidden" name="sitesearch" value="http://interrao.lv">
                <input type="submit" class="search-button" value="" />
            </form>
        </div>
    </div>
</div>

<div class="footer wrapper">
    <div class="container">
        <div class="one-third column">
            <div class="text">
                <div><span class="light">{{ 'footer.address_label'|trans }}</span> {{ 'footer.address_value'|trans }} <a href="{{ path('interrao_page_show', {'slug': 'contacts'}) }}" class="mapPoint"><img src="/images/point.png" width="11" height="16" alt="" /></a></div>
                <div><span class="light">{{ 'footer.phone_label'|trans }}</span> {{ 'footer.phone_value'|trans }}</div>
            </div>
        </div>

        <div class="one-third column">
            <div class="text">
                <div><span class="light">{{ 'footer.fax_label'|trans }}</span> {{ 'footer.fax_value'|trans }}</div>
                <div><span class="light">{{ 'footer.email_label'|trans }}</span> <a href="mailto:{{ 'footer.email_value'|trans }}">{{ 'footer.email_value'|trans }}</a></div>
            </div>
        </div>

        <div class="one-third column">
            <div class="copyright">{{ 'footer.copyright'|trans|raw }}<br />{{ 'footer.all_rights_reserved'|trans }}</div>
        </div>
    </div>
</div>