<div class="wrapper top-wrapper">
    <div class="container">
        {% block langue_switcher %}
            <ul class="languages">
                {% for locale in ['lv', 'ru','en'] %}
                    <li{% if locale == app.request.locale %} class="current"{% endif %}>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">{{ ('language.switcher.'~locale)|trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock langue_switcher %}

        <ul class="user-area">
            <!--<li><a href="login-form.html" data-mfp-src="#login-form" class="login-form-popup">Войти в личный кабинет</a></li>-->
            <li class="special"><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}">{{ 'header.request_price'|trans }}</a></li>
        </ul>

        <form id="login-form" class="mfp-hide white-popup-block">
            <h1 class="add-bottom">Войти в кабинет</h1>
            <fieldset>
                <div class="row">
                    <label for="login-or-email">Ваш логин (эл. почта)</label>
                    <input id="login-or-email" name="login-or-email" type="text" required>
                </div>
                <div class="row">
                    <label for="password">Пароль</label>
                    <input id="password" name="password" type="password" required>
                </div>
                <div class="row">
                    <input type="submit" value="Войти" />
                </div>
            </fieldset>
        </form>

    </div>
</div>