{% for locale in ['ru','en','lv'] %}
    <li{% if locale == app.request.locale %} class="current"{% endif %}>
        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">{{ ('language.switcher.'~locale)|trans }}</a>
    </li>
{% endfor %}