<div class="wrapper">
    <div class="container">
        <div class="logo"><a href="{{ path('interrao_page_home') }}">
            <img src="/images/interrao-logo.png" width="267" height="29" /></a>
        </div>

        {{ knp_menu_render('InterraoPageBundle:Builder:headerMenu') }}
    </div>
</div>