<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Inter RAO Latvia{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' 'http://fonts.googleapis.com/css?family=Roboto:100,300,500&subset=latin-ext,cyrillic' %}
            <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="/web/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/web/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/web/apple-touch-icon-114x114.png">
    </head>

    <body>
        {% block header %}
            {% include('::_header.html.twig') %}
        {% endblock header %}

        {% block menu %}
            {% include('::_menu.html.twig') %}
        {% endblock menu %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include('::_footer.html.twig') %}
        {% endblock footer %}

        {% block javascripts %}
            {% javascripts '../app/Resources/public/js/*' 'https://maps.googleapis.com/maps/api/js?keyAIzaSyDfUUuAyVWz3WiCoePYbp2eFUHDiV15_KU&sensor=true' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block additional_js %}{% endblock additional_js %}
    </body>
</html>
