.editor { display: none; width: 224px; }
.smallbtn { padding: 5px !important; width: 50px !important; font-size: 9px !important; }
#success-translation, #error-translation { display: none; }
#newTranslation { display: none; }


.trans-editable{
    cursor: pointer;
    color: #0088cc;
}