{% extends '::base.html.twig' %}

{% block title %}
    {% if page %}{{ parent() }} - {{ page.title }}{% endif %}
{% endblock %}

{% block body %}
    {{ sonata_block_render({ 'type': 'interrao.block.banner' }, { 'attr': {'spot': 'top', 'page': page.id}}) }}

    <div class="wrapper">
        <div class="container">
            <div class="five columns alpha">

                {% if page %}
                    {{ sonata_block_render({ 'type': 'interrao.block.content' }, { 'attr': {'page': page.id}}) }}
                {% endif %}

                <div class="side-block orange">
                    <div class="text clearfix">
                        <h5><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><div class="arrow"><!-- > --></div>Запрос ценового предложения</a></h5>
                    </div>
                </div>
            </div>

            <div class="eleven columns">
                <div class="content">
                    {% if page %}
                        <div>{{ page.content|raw }}</div>
                    {% endif %}

                    <ul class="huge-list faq-list">
                        {% for item in items %}
                        <li>
                            <a>
                                <div class="bigger">{{ item.question|striptags }}</div>
                                <div class="answer">{{ item.answer|raw }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
