html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,del,em,img,ins,q,s,small,strike,strong,sub,sup,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,embed,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
body{background:#fff;font:14px Roboto, Helvetica, Arial, sans-serif;line-height:1.5;font-weight:300;color:#222;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
blockquote,blockquote p{font-size:1.2em;line-height:1.5em;color:#777;font-style:italic;}
blockquote{border-left:1px solid #ddd;margin:0 0 20px;padding:10px 20px 0 19px;}
blockquote cite a,blockquote cite a:visited,blockquote cite a:visited{color:#555;}
cite{display:block;font-size:.8em;color:#777;text-align:right;}
cite:before{content:"\2014 \0020";}

table{border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:20px;}
thead{font-size:.9em;color:#999;background-color:#fafafa;}
td{border-bottom:1px solid #e5e5e5;padding:10px 10px 10px 40px;}
.looks-like-table{display:table;background:#f58220;}
.looks-like-table .cell,.looks-like-table .cell{display:table-cell;vertical-align:top;margin:0;padding:0;}
.looks-like-table.mainpage-content{background:#fafafa;}

h1{font-weight:100;text-transform:uppercase;font-size:2.14em;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit;}
h2{font-size:1.912em;}
h3{font-size:1.684em;}
h4{font-size:1.456em;}
h5{font-size:1.228em;}
h6{font-size:1em;}
.heading{text-transform:uppercase;font-weight:500;font-size:1.228em;margin-bottom:.33em;}

p{margin:0 0 20px;}
p.lead{font-size:21px;color:#f58220;}
p img,.push-the-button a .arrow{margin:0;}
em{font-style:italic;}
strong{font-weight:500;color:#333;}
.grey{color:#999;}
.bigger{font-size:133%;line-height:133%;}
.lead{color:#f58220;width:80%;}
.right{float:right;}
.center{text-align:center;margin:0 auto;}

hr{border:solid #f58220;clear:both;height:0;border-width:2px 0 0;margin:15px 0;}
hr.grey{border-color:#999;}

a,a:visited{color:#004781;text-decoration:none;outline:0;}
a:hover,a:focus{color:#f58220;text-decoration:underline;}
p a,p a:visited{line-height:inherit;}

ol{list-style:decimal;}
ol,ul.square,ul.circle,ul.disc{margin-left:30px;}
ul.square{list-style:square outside;}
ul.circle{list-style:circle outside;}
ul.disc{list-style:disc outside;}
ul.dash li:before{content:"";width:12px;height:1px;background:#888;display:block;float:left;margin:8px 10px 0 0;}
ul ul,ul ol,ol ol,ol ul{font-size:90%;margin:4px 0 5px 30px;}
ul ul li,ul ol li,ol ol li,ol ul li{margin-bottom:6px;}
li{line-height:18px;margin-bottom:12px;}
ul,ol,form{margin-bottom:20px;}
ul,ul.dash{list-style:none outside;}

img.scale-with-grid{max-width:100%;height:auto;}

.button,button,input[type="submit"],input[type="reset"],input[type="button"]{color:#004781;background:transparent url(../images/arrow-right.png) center right no-repeat;border:1px solid #adc4d5;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;display:inline-block;text-decoration:none;text-align:left;font-size:14px;font-weight:300;cursor:pointer;margin-bottom:20px;line-height:1em;-webkit-transition:background-color .3s ease-out;-moz-transition:background-color .3s ease-out;-o-transition:background-color .3s ease-out;transition:background-color .3s ease-out;padding:10px 40px 10px 15px;}
.button-back{color:#004781;background:transparent url(../images/arrow-left.png) center left no-repeat;border:1px solid #fff;-webkit-transition:border .3s ease-out;-moz-transition:border .3s ease-out;-o-transition:border .3s ease-out;transition:border .3s ease-out;padding:10px 15px 10px 40px;}
.button-orange,input[type="submit"].button-orange,input[type="reset"].button-orange,input[type="button"].button-orange{color:#fff;background:#f58220 url(../images/arrow-right-white.png) center right no-repeat;border:1px solid #fff;-webkit-transition:background-color .3s ease-out;-moz-transition:background-color .3s ease-out;-o-transition:background-color .3s ease-out;transition:background-color .3s ease-out;}
.button-orange-special,input[type="submit"].button-orange-special,input[type="reset"].button-orange-special,input[type="button"].button-orange-special,.button-orange-special:hover,input[type="submit"].button-orange-special:hover,input[type="reset"].button-orange-special:hover,input[type="button"].button-orange-special:hover{color:#fff;background:#f58220 url(../images/arrow-right-white.png) center right no-repeat;border:1px solid #fff;}
.button-white,input[type="submit"].button-white,input[type="reset"].button-white,input[type="button"].button-white{color:#f58220!important;background:#fff url(../images/arrow-right-orange.png) center right no-repeat;border:1px solid #fff;-webkit-transition:border .3s ease-out;-moz-transition:border .3s ease-out;-o-transition:border .3s ease-out;transition:border .3s ease-out;}
.button-banner{float:right;opacity:0.5;color:#fff!important;background:url(../images/arrow-right-white.png) center right no-repeat;margin:10px 0 0 20px;}
.button-banner:hover{color:#004781!important;background:url(../images/arrow-right.png) center right no-repeat;opacity:1;}
.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{background-color:#fff;color:#004781;text-decoration:none;cursor:pointer;border-color:#85a7c2;}
.button.button-orange:hover,button.button-orange:hover,input[type="submit"].button-orange:hover,input[type="reset"].button-orange:hover,input[type="button"].button-orange:hover{background-color:#fff;background-image:url(../images/arrow-right-orange.png);color:#f58220;border:1px solid #fff;}
.button.button-blue:hover,.huge-list li a:hover .button,button.button-blue:hover,input[type="submit"].button-blue:hover,input[type="reset"].button-blue:hover,input[type="button"].button-blue:hover{background-color:#004781;background-image:url(../images/arrow-right-white.png);color:#fff;border:1px solid #004781;}
.button.button-white:hover,button.button-white:hover,input[type="submit"].button-white:hover,input[type="reset"].button-white:hover,input[type="button"].button-white:hover{border:1px solid #e76a00;color:#e76a00;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input[type="text"],input[type="password"],input[type="email"],textarea,select{border:2px solid #ccc;outline:none;width:250px;max-width:100%;display:block;background:#fff;font:normal 1em/1.2em Tahoma, Arial;margin:0 0 20px;padding:10px;}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus{border-color:#b9b9b9;}
input[type="text"][required="required"] { background:url(../images/star.png) top right no-repeat;}
input[type="text"][required="required"].error { background:url(../images/star-orange.png) top right no-repeat;}

textarea{min-height:100px;}
label,legend{display:block;font-size:.75em;text-transform:uppercase;color:#444;}
.customSet:not(#foo) > input[type='radio'],.customSet:not(#foo) > input[type='checkbox']{opacity:0;float:left;width:1px;margin:0;padding:0;}
.customSet > input[type='radio'] + label,.customSet > input[type='checkbox'] + label{display:inline-block;vertical-align:middle;cursor:pointer;text-transform:none;color:#222;font-size:1em;margin-bottom:10px;}
.customSet:not(#foo) > input[type='radio'] + label,.customSet:not(#foo) > input[type='checkbox'] + label{padding-left:38px;height:29px;background:url(../images/radio.png) 0 0 no-repeat;line-height:29px;}
.customSet:not(#foo) > input[type='checkbox'] + label{padding-left:70px;height:29px;background:url(../images/checkbox.png) 0 0 no-repeat;line-height:29px;}
.customSet:not(#foo) > input[type='radio']:checked + label,.customSet:not(#foo) > input[type='checkbox']:checked + label{background-position:0 -29px;}

.arrow{width:40px;height:40px;border:1px solid #fff;float:right;background:url(../images/arrow-right-white.png) 90% 50% no-repeat;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;-webkit-transition:background-color .3s ease-out;-moz-transition:background-color .3s ease-out;-o-transition:background-color .3s ease-out;transition:background-color .3s ease-out;margin:5px 10px 0;}
.arrow:hover,a:hover .arrow{background-image:url(../images/arrow-right-orange.png);background-color:#fff;}
.arrow-orange:hover,.huge-link:hover .arrow-orange{background-image:url(../images/arrow-right-white.png);background-color:#f58220;border-color:#fff;}
.arrow-blue:hover,.huge-list li:hover .arrow-blue{background-image:url(../images/arrow-right-white.png);background-color:#004781;border-color:#fff;}
.arrow-orange,.arrow-blue{background:#fff url(../images/arrow-right.png) 90% 50% no-repeat;border:1px solid #ccc;}

.remove-bottom{margin-bottom:0!important;}
.half-bottom{margin-bottom:10px!important;}
.add-bottom{margin-bottom:20px!important;}
.add-top{margin-top:20px!important;}

.error-message{font-size:1.2em;line-height:1.5em;background:#fef2e8;margin:0px 26px 20px 0px;text-align:center;padding:20px;}

.wrapper{border-bottom:1px solid #efefef;}
.top-wrapper{background:#f9f9f9;}

.container{position:relative;width:960px;border-right:1px solid #efefef;border-left:1px solid #efefef;margin:0 auto;padding:0;}
.container .column,.container .columns{float:left;display:inline;margin-left:10px;margin-right:10px;}
.row{margin-bottom:15px;}
.column.alpha,.columns.alpha{margin-left:0;}
.column.omega,.columns.omega{margin-right:0;}
.container .one.column,.container .one.columns{width:40px;}
.container .two.columns{width:100px;}
.container .three.columns{width:160px;}
.container .four.columns{width:220px;}
.container .five.columns{width:280px;}
.container .six.columns{width:340px;}
.container .seven.columns{width:400px;}
.container .eight.columns{width:460px;}
.container .nine.columns{width:520px;}
.container .ten.columns{width:580px;}
.container .eleven.columns{width:640px;}
.container .twelve.columns{width:700px;}
.container .thirteen.columns{width:760px;}
.container .fourteen.columns{width:820px;}
.container .fifteen.columns{width:880px;}
.container .sixteen.columns{width:940px;}
.container .one-third.column{width:300px;}
.container .two-thirds.column{width:620px;}
.container .offset-by-one{padding-left:60px;}
.container .offset-by-two{padding-left:120px;}
.container .offset-by-three{padding-left:180px;}
.container .offset-by-four{padding-left:240px;}
.container .offset-by-five{padding-left:300px;}
.container .offset-by-six{padding-left:360px;}
.container .offset-by-seven{padding-left:420px;}
.container .offset-by-eight{padding-left:480px;}
.container .offset-by-nine{padding-left:540px;}
.container .offset-by-ten{padding-left:600px;}
.container .offset-by-eleven{padding-left:660px;}
.container .offset-by-twelve{padding-left:720px;}
.container .offset-by-thirteen{padding-left:780px;}
.container .offset-by-fourteen{padding-left:840px;}
.container .offset-by-fifteen{padding-left:900px;}
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.row:after,.clearfix:after{clear:both;}
.row,.clearfix{zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.content{padding:20px;}

.slideshow-menu{background:#fafafa;width:620px;}
.slideshow-menu span{float:left;width:165px;text-transform:uppercase;font-size:15px;font-weight:100px;border-right:1px solid #ededed;color:#adbbcc;height:40px;position:relative;padding:20px 10px 0 30px;}
.slideshow-menu span.active{color:#f58220;background:#fff;}
.slideshow-menu span.active:after{position:absolute;display:block;content:'';top:0;left:0;width:0;height:0;border-color:#f58220 transparent transparent;border-style:solid;border-width:15px 15px 0 0;}

.push-the-button{background:#f58220;width:340px;}
.push-the-button a{display:block;color:#fff;line-height:40px;padding:10px 30px 0;}

.mainpage-left{background:#fff;width:620px;border-right:1px solid #ededed;}
.mainpage-right{background:#fafafa;width:340px;}
.mainpage-left .content,.mainpage-right .content{padding:20px 30px;}

#login-form{position:relative;background:#FFF;width:300px;max-width:500px;margin:20px auto;padding:30px;}
#feedback-form{position:relative;background:#FFF;width:600px;max-width:600px;margin:20px auto;padding:30px;}

li.special > a{background:#f58220;color:#fff;}
li.current > a{color:#f58220;border-bottom:2px solid #f58220;}

.languages{float:left;text-transform:uppercase;font-size:.7857em;margin:0;}
.languages > li > a{float:left;border-right:1px solid #efefef;padding:10px 30px;}
.languages > li,.user-area > li{float:left;margin:0;}

.user-area{float:right;font-size:.9285em;margin:0;}
.user-area > li > a{float:left;border-left:1px solid #efefef;padding:10px 30px;}
.user-area > li.special > a{border-left:none;border-bottom:2px solid #f58220;}

.logo{float:left;padding:16px 30px 8px;}

.menu{float:right;position:relative;top:1px;margin:0 20px 0 0;padding:0;}
.menu > li,.bottom-menu > li{float:left;margin:0;padding:0;}
.menu > li > a{float:left;padding:20px 9px;}

.submenu{margin:0 0 20px;padding:0;}
.submenu > li{margin:0;padding:0;}
.submenu > li > a{display:block;font-size:1.228em;border-bottom:1px solid #ebebeb;border-right:1px solid #ebebeb;background:#f9f9f9;margin:0;padding:15px 10px 15px 30px;}
.submenu > li.current > a{background:#fff;border-bottom:2px solid #f58220;border-right-color:#fff;}

.side-block{background:#f9f9f9;border:1px solid #ebebeb;border-left:none;margin:0 0 20px;padding:15px 15px 20px 30px;}
.side-block > .rounded{float:right;border:1px solid #ccc;border-radius:50%;width:80px;height:80px;margin:0 0 10px 10px;}
.side-block .heading{font-size:1.228em;font-weight:500;text-transform:uppercase;padding-bottom:7px;}
.side-block.orange{background:#f58220;border:1px solid #f58220;color:#fff;}
.side-block.orange a{color:#fff;}

.banner-wrapper > .container{position:relative;}
.banner-image img{position:relative;display:block;}
.banner-text{position:absolute;top:0;left:0;color:#fff;height:97px;padding:15px 400px 0 30px;}
.banner-mainpage{background:#34383d;border-bottom:none;}
.banner-mainpage .container{width:960px;height:268px;border-color:#2d2f34;}
.banner-mainpage .container .banner{position:absolute;top:0;left:0;width:960px;height:268px;z-index:8;}
.banner-mainpage .container .banner.active{z-index:10;}
.banner-mainpage .container .banner.last-active{z-index:9;}
.banner-mainpage .banner-text{width:400px;color:#fff;padding:60px 160px 0 400px;}
.banner-text > h2{font-size:1.228em;line-height:1.228em;padding-top:5px;}
.slideshow-menu span:nth-child(3),.bottom-menu > li.last > a{border-right:none;}

.bottom > .container{background:#f9f9f9;font-size:.9285em;}
.bottom-menu{margin:10px 0;padding:0;}
.bottom-menu > li > a{float:left;border-right:1px solid #ededed;padding:10px 15px;}

.site-search{background:#aaadaf;display:block;position:relative;margin:12px 20px 0 0;padding:8px 30px 8px 15px;}
.site-search > .keyword{width:100%;background:#aaadaf;border:none;color:#fff;margin:0;padding:0;}
.site-search > .search-button,.site-search > .search-button:hover{width:18px;height:19px;background:url(../images/magnifier.png) 0 0 no-repeat;border:none;display:block;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;position:absolute;top:7px;right:8px;margin:0;padding:0;}

.footer > .container{background:#ececec;font-size:.9285em;padding:15px 0;}
.footer .text{padding:0 20px;}
.footer .light{color:#999;display:inline-block;width:70px;}
.footer .copyright{text-align:right;padding-right:20px;}

.mapPoint{position:relative;top:4px;margin-left:5px;}

.with-dash{text-indent:-13px;padding:0 0 0 30px;}
.with-dash:before{content:"\2014 \0020";color:#999;}

.huge-link{color:#333;margin-top:20px;border-top:2px solid #999;display:block;padding:20px 0 0;}
.huge-link:hover{text-decoration:none;border-color:#f58220;}
.huge-link:hover p{color:#333;}
.huge-list{border-top:2px solid #999;margin:20px 0;}

.huge-list li{border-bottom:1px solid #e6e7e7;background:#fafafa;-webkit-transition:background .3s ease-out;-moz-transition:background .3s ease-out;-o-transition:background .3s ease-out;transition:background .3s ease-out;margin:0;padding:20px 20px 0;}
.huge-list li:hover{background:#f0f6fa;border-bottom:1px solid #dae0e4;}
.huge-list li a{display:block;}
.huge-list li a .button{float:right;margin:0 0 10px 30px;}
.huge-list li a:hover{text-decoration:none;color:#004781;cursor:pointer;}
.huge-list li a:hover .bigger{text-decoration:underline;}
.huge-list li a p,.huge-list li a:hover p{color:#222;}
.huge-list li a p{margin-top:10px;}

.faq-list li a{display:block;padding-bottom:20px;padding-left:30px;background:url(../images/arrow-right.png) 0 2px no-repeat;}
.faq-list li.has-answer{background:#fff;}
.faq-list li.has-answer a{background:url(../images/arrow-bottom.png) 0 5px no-repeat;}
.faq-list li a .answer{display:none;opacity:0;line-height:1.5em;}
.faq-list li.has-answer a .answer{margin-top:5px;color:#333;display:block;opacity:1;}
.answer p{margin-bottom:10px;}
.faq-list li li,.faq-list li:hover li{background:none;border:none;padding-top:10px;line-height:1.5em;}
.faq-list ol,.faq-list ul{font-size:100%;}

#map-canvas{width:100%;height:300px;}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#004781;opacity:0.7;filter:alpha(opacity=70);}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none!important;-webkit-backface-visibility:hidden;}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 8px;}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle;}.mfp-content{position:relative;display:inline-block;vertical-align:middle;text-align:left;z-index:1045;margin:0 auto;}.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto;}.mfp-ajax-cur{cursor:progress;}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:zoom-out;}.mfp-zoom{cursor:zoom-in;}.mfp-auto-cursor .mfp-content{cursor:auto;}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none;}.mfp-hide{display:none!important;}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044;}.mfp-preloader a{color:#ccc;}.mfp-preloader a:hover{color:#FFF;}button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;z-index:1046;-webkit-box-shadow:none;box-shadow:none;padding:0;}button::-moz-focus-inner{border:0;padding:0;}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;color:#FFF;font-style:normal;font-size:28px;font-family:Arial, Baskerville, monospace;padding:0 0 18px 10px;}.mfp-close:active{top:1px;}.mfp-close-btn-in .mfp-close{color:#333;}.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%;}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px;}.mfp-arrow{position:absolute;opacity:0.65;top:50%;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:-55px 0 0;padding:0;}.mfp-arrow:active{margin-top:-54px;}.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent;}.mfp-arrow:after,.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px;}.mfp-arrow:before,.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;}.mfp-arrow-left{left:0;}.mfp-arrow-left:after,.mfp-arrow-left .mfp-a{border-right:17px solid #FFF;margin-left:31px;}.mfp-arrow-left:before,.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f;}.mfp-arrow-right{right:0;}.mfp-arrow-right:after,.mfp-arrow-right .mfp-a{border-left:17px solid #FFF;margin-left:39px;}.mfp-arrow-right:before,.mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f;}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px;}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px;}.mfp-iframe-holder .mfp-close{top:-40px;}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%;}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000;}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 auto;padding:40px 0;}.mfp-figure{line-height:0;}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444;}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px;}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto;}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px;}.mfp-image-holder .mfp-content{max-width:100%;}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer;}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px;}.mfp-ie7 .mfp-content{padding-top:44px;}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0;}.mfp-align-top .mfp-container:before,.mfp-loading.mfp-figure,.mfp-s-ready .mfp-preloader,.mfp-s-error .mfp-content{display:none;}.mfp-close:hover,.mfp-close:focus,.mfp-arrow:hover,.mfp-arrow:focus{opacity:1;}.mfp-ie7 .mfp-img,.mfp-ie7 .mfp-container{padding:0;}@media screen and max-width 800px and orientation landscape,screen and max-height 300px{.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0;}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0;}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px;}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;top:auto;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:3px 5px;}.mfp-img-mobile .mfp-counter{right:5px;top:3px;}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0;}.mfp-img-mobile img.mfp-img,.mfp-img-mobile .mfp-bottom-bar:empty{padding:0;}}@media all and max-width 900px{.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75);}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0;}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%;}.mfp-container{padding-left:6px;padding-right:6px;}}