{% extends '::base.html.twig' %}

{% block title %}
    {% if page %}{{ parent() }} - {{ page.title }}{% endif %}
{% endblock %}

{% block body %}
    {{ sonata_block_render({ 'type': 'interrao.block.banner' }, { 'attr': {'spot': 'top', 'page': page.id}}) }}

    <div class="wrapper">
        <div class="container">
            <div class="five columns alpha">

                {% if page.parent %}
                    {{ knp_menu_render(knp_menu_get('InterraoPageBundle:Builder:subPageMenu', [], {'page': page.parent.id})) }}
                {% endif %}

                {{ sonata_block_render({ 'type': 'interrao.block.content' }, { 'attr': {'page': page.id}}) }}

                <div class="side-block orange">
                    <div class="text clearfix">
                        <h5><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><div class="arrow"><!-- > --></div>Запрос ценового предложения</a></h5>
                    </div>
                </div>
            </div>

            <div class="eleven columns">
                <div class="content">

                    <ul class="huge-list">
                        {% for document in documents %}
                        <li>
                            <a target="_blank" href="{% if document.fileName %}/uploads/assets/{{ document.fileName }}{% else %}{{ document.fileUrl }}{% endif %}">
                                <div class="button button-blue">
                                    {{ document.fileType }}{% if document.fileSize %}, {{ _self.bytesToSize(document.fileSize) }}{% endif %}
                                </div>
                                <div class="grey smaller">
                                    {{ document.createdAt|date("m/d/Y") }}
                                </div>
                                <div class="bigger">
                                    {{ document.title }}
                                </div>
                                {{ document.description|raw }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' Kb' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' Mb' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' Gb' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' Tb' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}