<div class="cell mainpage-right">
    <div class="content">
        <div class="heading">{{ 'news.recent_block.title'|trans }}</div>
        {% for item in items %}
            {% if item.title %}
            <p class="with-dash">
                <span class="smaller grey">{{ item.createdAt|date("m/d/Y") }}</span><br />
                <a href="{{ path('interrao_news_show', {'id':item.id}) }}">{{ item.title|striptags }}</a>
            </p>
            {% endif %}
        {% endfor %}
    </div>
</div>