{% extends '::base.html.twig' %}

{% block title %}
    {% if page %}{{ parent() }} - {{ page.title }}{% endif %}
{% endblock %}

{% block body %}
    {{ sonata_block_render({ 'type': 'interrao.block.banner' }, { 'attr': {'spot': 'top', 'page': page.id}}) }}

    <div class="wrapper">
        <div class="container">
            <div class="five columns alpha">

                {{ sonata_block_render({ 'type': 'interrao.block.content' }, { 'attr': {'page': page.id}}) }}

                <div class="side-block orange">
                    <div class="text clearfix">
                        <h5><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><div class="arrow"><!-- > --></div>Запрос ценового предложения</a></h5>
                    </div>
                </div>
            </div>

            <div class="eleven columns">
                <div class="content">
                    {% if page %}
                    <div>{{ page.content|raw }}</div>
                    {% endif %}

                    <ul class="huge-list">
                        {% for item in items %}
                            {% if item.title %}
                            <li>
                                <a href="{{ path('interrao_news_show', {'id': item.id}) }}">
                                    <div class="arrow arrow-blue"><!-- --></div>
                                    <div class="grey smaller">{{ item.createdAt|date('d/m/Y') }}</div>
                                    <div class="bigger">{{ item.title }}</div>
                                    <p>{{ item.lead|raw }}</p>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}