{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ news.title }}
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container">
        <div class="five columns alpha">

            {% if page %}
                {{ sonata_block_render({ 'type': 'interrao.block.content' }, { 'attr': {'page': page.id}}) }}
            {% endif %}

            <div class="side-block orange">
                <div class="text clearfix">
                    <h5><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><div class="arrow"><!-- > --></div>Запрос ценового предложения</a></h5>
                </div>
            </div>

        </div>

        <div class="eleven columns">
            <div class="content">
                <a href="{{ path('interrao_news') }}" class="button button-back remove-bottom">Назад к списку новостей</a>

                <hr style="margin-top:10px;" />

                <h3>{{ news.title }}</h3>

                {{ news.description|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}