{% extends 'InterraoPageBundle:Page:show.html.twig' %}

{% block additional_content %}

    <hr class="grey">

    {{ include('InterraoPageBundle:Form:_question_form.html.twig', { 'form': form, 'isDialog': false }) }}

{% endblock %}
