{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ page.title }}
{% endblock %}

{% block body %}
    {{ sonata_block_render({ 'type': 'interrao.block.banner' }, { 'attr': {'spot': 'carousel'}}) }}

    <div class="wrapper">
        <div class="container looks-like-table mainpage-content">
            <div class="cell mainpage-left">
                <div class="content">
                    {% if page %}
                        {{ page.content|raw }}
                    {% endif %}

                    <div>
                        <a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}" class="button button-white">{{ 'home.request_form.link'|trans }}</a>
                    </div>
                </div>
            </div>

            {{ render(controller('InterraoNewsBundle:News:recent', {'max': 2})) }}
        </div>
    </div>
{% endblock %}