<div id="feedback-form" class="white-popup-block container">
    <h5 class="lead">{{ 'form.question.dialog.lead'|trans }}</h5>

    <hr class="grey">

    {{ include('InterraoPageBundle:Form:_question_form.html.twig', { 'form': form, 'isDialog': true }) }}
</div>

<script type="text/javascript">
$(function () {
    $('#question_send').on('click', function(e) {
        e.preventDefault();

        var form = $("#feedback-form form"),
            errorMessage = $('.error-message'),
            successMessage = $('.success-message');

        form.find('input, textarea').removeClass('error');

        $.post('{{ path('interrao_page_question_form_dialog') }}', form.serialize(), function(response) {
            if(response) {

                errorMessage.hide();

                if(response.isValid) {
                    form.find('input, textarea').val('');
                    successMessage.show();
                } else {
                    errorMessage.show();

                    form.find('img').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());

                    for(var i = 0; i < response.errors.length; i++) {
                        $('#question_' + response.errors[i]).addClass('error');
                    }
                }
            }
        });
    });

    $(function () {
        $('.refresh_button').on('click', function(e) {
            e.preventDefault();

            $(this).parent().parent().find('img').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
        });
    });
});
</script>