{% extends 'InterraoPageBundle:Page:show.html.twig' %}

{% block additional_content %}

    <hr />

    {{ form_start(form) }}

        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="success-message">
            {{ flashMessage }}
        </div>
        {% endfor %}

        {% if form.vars.valid == false %}
        <div class="error-message">
            {{ 'form.request.error'|trans }}
        </div>
        {% endif %}

        <div class="row remove-bottom">
            <div class="five columns alpha">
                {{ form_label(form.companyName) }}
                {{ form_widget(form.companyName, { 'attr' : { 'class' : form.companyName.vars.errors|length ? 'error' : '' } }) }}

                {{ form_label(form.registrationNumber) }}
                {{ form_widget(form.registrationNumber, { 'attr' : { 'class' : form.registrationNumber.vars.errors|length ? 'error' : '' } }) }}

                {{ form_label(form.consumption) }}
                {{ form_widget(form.consumption) }}
            </div>

            <div class="five columns">
                {{ form_label(form.contactPerson) }}
                {{ form_widget(form.contactPerson, { 'attr' : { 'class' : form.contactPerson.vars.errors|length ? 'error' : '' } }) }}

                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber, { 'attr' : { 'class' : form.phoneNumber.vars.errors|length ? 'error' : '' } }) }}

                {{ form_label(form.emailAddress) }}
                {{ form_widget(form.emailAddress, { 'attr' : { 'class' : form.emailAddress.vars.errors|length ? 'error' : '' } }) }}
            </div>
        </div>

        <div class="row remove-bottom">
            <div class="ten columns alpha">
                {{ form_label(form.companyAddress) }}
                {{ form_widget(form.companyAddress, {'attr' : { 'class' : form.companyAddress.vars.errors|length ? 'error' : '', 'style' : 'width:550px;' } }) }}
            </div>
        </div>

        <div class="customSet">
            {{ form_widget(form.automaticCounter, {'attr' : {'tabindex' : ''} }) }}
            {{ form_label(form.automaticCounter) }}

            <div class="smaller grey">{{ 'form.request.info'|trans }}</div>
        </div>

        <div class="offset-by-three add-top">
            {{ form_widget(form.send, {'attr' : {'class' : 'button button-orange-special'}}) }}
        </div>

    {{ form_end(form) }}


{% endblock %}
