{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ page.title }}
{% endblock %}

{% block body %}

    {{ sonata_block_render({ 'type': 'interrao.block.banner' }, { 'attr': {'spot': 'top', 'page': page.id}}) }}

    <div class="wrapper">
        <div class="container">
            <div class="five columns alpha">

                {% if page.parent %}
                    {{ knp_menu_render(knp_menu_get('InterraoPageBundle:Builder:subPageMenu', [], {'page': page.parent.id})) }}
                {% endif %}

                {{ sonata_block_render({ 'type': 'interrao.block.content' }, { 'attr': {'page': page.id}}) }}

                {% if page.slug != 'request-form' %}
                <div class="side-block orange">
                    <div class="text clearfix">
                        <h5><a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><div class="arrow"><!-- > --></div>{{ 'page.request_form.link'|trans }}</a></h5>
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="eleven columns">
                <div class="content">
                    {{ page.content|raw }}

                    {% block additional_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(function () {
            $('.refresh_button').on('click', function(e) {
                e.preventDefault();

                $(this).parent().parent().find('img').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
            });
        });
    </script>
{% endblock additional_js %}