<p>Company name: {{ form.get('companyName').data }}</p>
<p>Company address: {{ form.get('companyAddress').data }}</p>
<p>Registration number: {{ form.get('registrationNumber').data }}</p>
<p>Consumption: {{ form.get('consumption').data }}</p>
<p>Contact person: {{ form.get('contactPerson').data }}</p>
<p>Phone number: {{ form.get('phoneNumber').data }}</p>
<p>Email address: {{ form.get('emailAddress').data }}</p>