{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="wrapper banner-wrapper banner-mainpage">
    <div class="container" id="slideshow">
        {% for item in items %}
        <div id="banner{{ item.id }}" class="banner {% if loop.index == 1 %}active{% endif %}">
            <div class="banner-image">
                <img src="/uploads/assets/{{ item.fileName }}" class="scale-with-grid" />
            </div>

            <div class="banner-text">
                <h1>{{ item.title }}</h1>
                <h2>{{ item.description }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="wrapper">
    <div class="container looks-like-table">
        <div class="cell slideshow-menu" id="slideshow-menu">
            {% for item in items %}
            <span {% if loop.index == 1 %}class="active"{% endif %}>{{ item.title }}</span>
            {% endfor %}
        </div>

        <div class="cell push-the-button">
            <a href="{{ path('interrao_page_show', {'slug': 'request-form'}) }}"><span class="arrow"><!-- > --></span>{{ 'home.fill_the_form'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}