{% for item in items %}
<div class="wrapper banner-wrapper">
    <div class="container">
        <div class="banner-image">
            <img src="/uploads/assets/{{ item.fileName }}" class="scale-with-grid" />
        </div>
        <div class="banner-text">
            <h1>{{ item.title }}</h1>
            <h2>{{ item.description }}</h2>
        </div>
    </div>
</div>
{% endfor %}